node_modules
.turbo
.DS_Store
.expo
.env
.env.local
.env.development
.env.development.local
.env.production
.env.production.local
dist
build
coverage
*.log
apps/mobile/.expo
apps/mobile/android
apps/mobile/ios
